body{
  background-color:#ecf0f1;
}

a{
  color:#2b2b2b;
}

a.pink:hover { color: #FF0056; }
a.blue:hover { color: #00FFFF; }
a.yellow:hover { color: #E1C751; }
a.lime:hover { color: #59FF18; }
a.orange:hover { color: #FF8739; }
a.lilac:hover { color: #A644AB; }
a.pale_yellow:hover { color: #ECBF55; }

#top{
  border-bottom:3px solid #2b2b2b;
}

#header{
  color:#2b2b2b;
  font-family: 'Montserrat', sans-serif;
}

#header a{
  text-decoration: none;
  /*color:#ecf0f1;*/
}

#header a:hover{
  /*color:#18FFFF;*/
  /*transition:all ease-in-out 300ms;*/
}

ul#nav{
  padding-left:2px;
}

#nav{
  margin-top:30px;
}

.nav_item{
  display:inline;
}

.nav_item a{
  color:#2b2b2b;
  font-family: 'Montserrat', sans-serif;
  padding:5px;
}

.nav_item a:hover{
  text-decoration:none;
  color:#18FFFF;
  transition:all ease-in-out 300ms;
}

#icons{
  margin-top:20px;
}

#icons i{
  color:#2b2b2b;
  font-size:18px;
  padding:5px;
  margin:auto;
}

.header_icons{
  display:inline;
}

#icons h2 a i.fa.fa-codepen:hover{
  color:#b1b1b1;
  transition:all ease-in-out 300ms;
}

#icons h2 a i.fa.fa-github:hover{
  color:#af19b7;
  transition:all ease-in-out 300ms;
}

#icons h2 a i.fa.fa-dribbble:hover{
  color:#ea4c89;
  transition:all ease-in-out 300ms;
}

#icons h2 a i.fa.fa-twitter:hover{
  color:#1da1f2;
  transition:all ease-in-out 300ms;
}

#icons h2 a i.fa {
  opacity: 0;
}

#icons h2 a i.fa.is-visible {
  -webkit-animation: Items 600ms ease-in forwards;
          animation: Items 600ms ease-in forwards;
}

@-webkit-keyframes Items2 {
  0% {
    opacity: 0;
    height: 0%;
    padding: 0px;
  }
  100% {
    opacity: 1;
  }
}

@keyframes Items2 {
  0% {
    opacity: 0;
    height: 0%;
    padding: 0px;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes Items {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3) rotateY(90deg);
            transform: scale(0.3) rotateY(90deg);
  }
  60% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  90% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    opacity: 1;
  }
}
@keyframes Items {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3) rotateY(90deg);
            transform: scale(0.3) rotateY(90deg);
  }
  60% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  90% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    opacity: 1;
  }
}



@media only screen and (max-width : 767px) {
  #icons{
  margin-top:0px;
  padding-bottom:5px;
  }
  #header{
    margin-bottom:0px;
  }
  #icons i{
    font-size:23px;
  }
  #nav{
    margin-top:17px;
  }

}

@media only screen and (max-width: 991px){
  div#icons.col-sm-2{
    padding-right:0px;
    font-size: 1px;
  }
}
